{
  "arrowParens": "avoid",
  "singleQuote": true,
  "trailingComma": "none",
  "semi": false,
  "overrides": [
    {
      "files": ["**/*.css", "**/*.scss", "**/*.html"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
