.tag {
  box-sizing: border-box;
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 20px;
}

.s {
  font-size: 12px;
  line-height: 12px;
}

.m {
  font-size: 14px;
  line-height: 14px;
}

.ghost {
  border: 1px solid var(--gray-light);
}

.red {
  font-weight: bold;
  color: var(--white);
  background-color: #de0000;
}

.gray {
  font-weight: bold;
  color: var(--white);
  background-color: #83c0d9;
}

.green {
  font-weight: bold;
  color: var(--green);
  background-color: var(--green-light);
}

.primary {
  color: var(--primary);
  background-color: none;
  border: 1px solid var(--primary);
}
